<?xml version="1.0"?>
  <config>
     <modules>
        <Rom_Olivier>
          <version>1.0.0</version>
        </Rom_Olivier>
     </modules>
	<frontend>
		<routers>
			<routeurfrontend>
				<use>standard</use>
     				<args>
     					<module>Rom_Olivier</module>
     					<frontName>olivier</frontName>
     				</args>
     		</routeurfrontend>
     	</routers>
     	<layout>
		   <updates>
				<olivier>
					 <file>olivier.xml</file>
				 </olivier>
			</updates>
		</layout>
	</frontend>
	<global>
		<blocks>
			<olivier>
				<class>Rom_Olivier_Block</class>
			</olivier>
		</blocks>
		<models>
			<olivier>
				 <class>Rom_Olivier_Model</class>
				 <resourceModel>olivier_mysql4</resourceModel>
			 </olivier>
			<olivier_mysql4>
				 <class>Rom_Olivier_Model_Mysql4</class>
				 <entities>
					 <olivier>
					   <table>rom_olivier</table>
					 </olivier>
				  </entities>
			</olivier_mysql4>
			</models>
			<resources>
				<olivier_write>
					<connection>
						<use>core_write</use>
					</connection>
				</olivier_write>
					
				<olivier_read>
					<connection>
						<use>core_read</use>
					</connection>
				</olivier_read>
			</resources>
	</global>
	<admin>
		<routers>
			<olivier>
				<use>admin</use>
				<args>
					<module>Rom_Olivier</module>
					<frontName>adminolivier</frontName>
				</args>
			</olivier>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<olivier>
					<file>olivier.xml</file>
				</olivier>
			</updates>
		</layout>
	<menu>
		<olivier translate="title" module="adminhtml">
			<title>Mon module</title>
			<sort_order>100</sort_order>
			<children>
				<set_time>
					<title>Annuaire</title>
					<action>adminolivier/adminhtml_index</action>
				</set_time>
			</children>
		</olivier>
	</menu>
</adminhtml>
</config>
