<?xml version="1.0"?>
  <config>
     <modules>
        <Rom_Olivier>
          <version>1.0.0</version>
        </Rom_Olivier>
     </modules>
	<frontend>
		<routers>
			<routeurfrontend>
				<use>standard</use>
     				<args>
     					<module>Rom_Olivier</module>
     					<frontName>olivier</frontName>
     				</args>
     		</routeurfrontend>
     	</routers>
     	<layout>
		   <updates>
				<olivier>
					 <file>olivier.xml</file>
				 </olivier>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<olivier>
				<use>admin</use>
				<args>
					<module>Rom_Olivier</module>
					<frontName>adminolivier</frontName>
				</args>
			</olivier>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<olivier>
					<file>olivier.xml</file>
				</olivier>
			</updates>
		</layout>
		<menu>
			<olivier translate="title" module="adminhtml">
				<title>Mon module</title>
				<sort_order>100</sort_order>
				<children>
					<set_time>
						<title>Annuaire</title>
						<action>adminolivier/adminhtml_index</action>
					</set_time>
				</children>
			</olivier>
		</menu>
		<acl>
        	<resources>
            	<admin>
                	<children>
                    	<system>
                        	<children>
                            	<config>
                                	<children>
                                    	<olivier_section translate="title">
                                        	<title>Ma Section</title>
                                        	<sort_order>100</sort_order>
                                    	</olivier_section>
                                	</children>
                            	</config>
                        	</children>
                    	</system>
                	 </children>
            	</admin>
        	</resources>
    	</acl>
	</adminhtml>
	<global>
		<blocks>
			<olivier>
				<class>Rom_Olivier_Block</class>
			</olivier>
		</blocks>
		<models>
			<olivier>
				 <class>Rom_Olivier_Model</class>
				 <resourceModel>olivier_mysql4</resourceModel>
			 </olivier>
			<olivier_mysql4>
				 <class>Rom_Olivier_Model_Mysql4</class>
				 <entities>
					 <olivier>
					   <table>rom_olivier</table>
					 </olivier>
					 <action>
					 	<table>rom_olivier_action</table>
					 </action>
				  </entities>
			</olivier_mysql4>
		</models>
		<resources>
			<olivier_write>
				<connection>
					<use>core_write</use>
				</connection>
			</olivier_write>
			<olivier_read>
				<connection>
					<use>core_read</use>
				</connection>
			</olivier_read>
		</resources>
		<events>
			<rom_olivier_action>
				<observers>
			   		<Rom_Olivier_Model_Observer>
				   		<type>singleton</type>
				   		<class>olivier/observer</class>
				   		<method>checkActionObserve</method>
				   	</Rom_Olivier_Model_Observer>
			   	</observers>
		  	</rom_olivier_action>
		</events>
	</global>
	<default>	
		<olivier_section>
            <olivier_group>
                <olivier_field>@config.xml</olivier_field>
            </olivier_group>
        </olivier_section>
    </default>
</config>
